altgraph==0.17
appdirs==1.4.4
asgiref==3.3.1
astroid==2.5
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
colorama==0.4.4
configparser==5.0.0
cx-Freeze==6.5.1
distlib==0.3.1
Django==3.1.7
filelock==3.0.12
Flask==1.1.2
future==0.18.2
idna==2.10
importlib-metadata==3.4.0
isort==5.7.0
itsdangerous==1.1.0
Jinja2==2.11.3
lazy-object-proxy==1.5.2
MarkupSafe==1.1.1
mccabe==0.6.1
numpy==1.20.1
pefile==2019.4.18
pipenv==2020.11.15
pyinstaller==4.2
pyinstaller-hooks-contrib==2020.11
pylint==2.7.1
pytz==2021.1
pywin32-ctypes==0.2.0
requests==2.24.0
requires.io==0.2.6
six==1.15.0
soupsieve==2.2
sqlparse==0.4.1
termcolor==1.1.0
toml==0.10.2
urllib3==1.25.10
virtualenv==20.4.2
virtualenv-clone==0.5.4
waitress==1.4.4
Werkzeug==1.0.1
wrapt==1.12.1
zipp==3.4.0